/.vs
/.svn
/.idea
/Library
/Temp
/Build
/Builds
/Assets/_local
/Assets/_local.meta
/Base Art
/WorkFiles
/*.userprefs
/obj
/etc


Thumbs.db
Thumbs.db.meta
*_BACKUP_*
*_REMOTE_*
*_LOCAL_*
*_BASE_*

===
Let MonoDevelop and Visual Studio handle their own stuff.
===
/*.csproj
/*.sln
/*.suo
/.vs
*.orig*
*.log*

===
Third-Party Assets
/Assets/uIntelliSense
/Assets/uIntelliSense.meta
/logRunSetup.txt
/WwiseUnityIntegration_Mac_Src.zip
/WwiseUnityIntegration_Windows_Src.zip